.float {
	position: fixed;
	width: 60px;
	height: 60px;
	bottom: 40px;
	right: 40px;
	background-color: rgb(37, 211, 102);
	color: rgb(255, 255, 255);
	border-radius: 50px;
	text-align: center;
	font-size: 30px;
	box-shadow: 2px 2px 3px rgb(153, 153, 153);
	z-index: 100;
}

.float:hover,
.float::after {
	background-color: rgb(9, 149, 60);
	color: rgb(255, 255, 255);
}

.my-float {
	margin-top: 16px;
}